.finchBar {
    background-color: rgba(51, 51, 51, 0.5);
    color:#fff;
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    height:50px;
    text-align:center;
}

.finchBar a {
    color:#ffcc00;
    text-decoration:underline;
}



.title h1 {
    font-size:80px;
    color:#000000;
    font-family: helvetica, serif;
    text-align:center;
    padding:20px 0;
    transition:all 3s;
}
.title h1:hover {
    color:#999;
    
}

.smallText {
    
}

.gold {
    color:#;
}



.nav {
    background-color:#000000;
    color:#fff;
}

.nav ul li {
    list-style-type:none;
    display:inline;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    text-decoration: none;
    font-style: italic;
    font-family: Poiret One, serif;
    color:#999;
    font-size:20px;
    transition: all .3s;
}

.nav ul li a:hover {
    font-weight:bolder;
   
}

.nav ul {
    text-align:left;
}

.nav ul li {
    padding-right:30px;
}

.image-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
    padding-bottom:50px;
}

.contact-me {
    background-color: #000;
    color:#fff;
    position:relative;
    bottom: 0;
    left: 0;
    right:0;
    height:50px;
}

.image-grid div {
    background-color:#fff;
}

.image-grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:all 1s;
}

.image-grid div img:hover {
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.header {
    background-color:#000000;
    max-height: 510px;
    
}

.header > .imgContainer {
    max-height: 510px;
    max-width:800px;
    height:100%;
    margin: auto;
    background-color:#000000;
    background-image:url('images/petra-brydlova-213573-unsplash.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

